<div class="mycontainer">
    <table class="content-table">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        {{range $i,$k :=.}}
        <tr>
            <td>{{$i}}</td>
            <td>{{$k.Username}}</td>
            <td>{{$k.Email}}</td>
            <div><td><a style="color: black" href="/read/{{$k.Username}}"  class="admin">delete</a></td></div>
        </tr>
        {{end}}
        </tbody>
    </table>
</div>