<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style> 
        body {background-color: #78B5F6;}
    </style>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Arvo" />
    <link rel="stylesheet" type="text/css" href="login.css" />
</head>
<body>
    <div class="navbar">
        <div class="left-corner">  
            <a href="" class="logo">FEMEME</a>
            <a href="index.html" class="home-page">Home</a>
            </div>
        <input type="search" placeholder="Search Fememe" name="search" required>
        <a href="" class="login-page">Login</a>
    </div>


    <div class="panel">
        <p class="login">Login</p>

       <form method="post">
           <input type="text" placeholder="email" name="email" required>
           <input type="text" placeholder="password" name="password" required>

           <button class="signup" type="submit">Sign in</button>
       </form>

        <div class="register-link">
            <p>Not a member?</p>
            <a class="link" href="register.html">Register here!</a>
        </div>
    </div>
</body>
</html>